// Place all the styles related to the web controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'mixins';

:focus {outline:none;}

.envelope {
  background:#f9f9f9;
}




.another_envelope {
   background:repeating-linear-gradient(-45deg, #EFC1CB , #EFC1CB 30px, #F2F2F2 30px, #F2F2F2 40px, #C2E8F5 40px, #C2E8F5 70px,#F2F2F2 70px, #F2F2F2 80px);
  
  margin-left:auto;
  margin-right:auto;


  position:relative;
  outline:6px solid #fff;
  border-radius:4px;
  width:753px;
  height:320px;
  padding-top:1px;
  margin-bottom:40px;
  margin-left:7px;
  margin-top:30px;



  .inner {
    margin:10px;
    background:white;
    
    padding:50px;
     width:632px; 
     height:200px;
     border-radius:4px;

  }

  .stamp {
    width:75px;
    position:absolute;
    right:20px;
    top:20px;
  }

  .return_address {
    margin-top: -40px;
    margin-left: -40px;

    .avatar {
      border-radius:500px;
      width:60px;
      float:left;
    }
    .name {
      float:left; margin-left:10px;
      font-weight:bold;
      color:#777;
      margin-left:10px;
      margin-top:10px;
      line-height:1.3em;
    }
  }

  .to_address {
    width:300px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 65px;


    .dotted {
      padding:5px;
      border:0px;
      border-bottom:1px dashed #ddd;
      font-size:16px;
      margin:10px;
      width:300px;
    }

  }
}






html, body {
    height:100%;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  color: #424242;
  margin:0;
  padding:0;
  font-size:16px;
  -webkit-font-smoothing: antialiased;
}

.footer {
  height:100px;
}
@font-face{
  font-family: 'fakt_slab_light';
  src: url('faktslabprolightwebfont.eot');
  src: url('faktslabprolightwebfont.eot?#iefix') format('embedded-opentype'),
       url('faktslabprolightwebfont.woff') format('woff'),
       url('faktslabprolightwebfont.ttf') format('truetype'),
       url('faktslabprolightwebfont.svg#fakt_slab_light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fakt_slab_medium';
  src: url('faktslabpromedium.eot');
  src: url('faktslabpromedium.eot?#iefix') format('embedded-opentype'),
    url('faktslabpromedium.woff') format('woff'),
    url('faktslabpromedium.ttf') format('truetype'),
    url('faktslabpromedium.svg#faktslabpromedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

.facebook-login {
    position: relative;
    display: inline-block;
    background-color: #576fbe;

    @include lineargradient(#576fbe, #627DDE);
    border-radius: 3px;
    color: white;
    height: 36px;
    line-height: 36px;
    padding: 6px 0;
    padding-left: 75px;
    margin: 0px 0 16px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    overflow:hidden;
    width: 185px;
    @include roundedCorners(3px);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    span.logo{
      //background: #5167B0;
      @include lineargradient(#5167B0, #5C76D2); 
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 55px;
      line-height: 48px;
      @include roundedCorners(3px 0 0 3px);
      text-align: center;
    }

    img {
      position: relative;
      top: 5px;
      left: -2px;
      width: 18px;
      vertical-align: middle;
      height: 16.5px;
    }

    &:hover {
      background-color: #657ED1;
      color: white;
      text-decoration: none;
      @include lineargradient(#657ED1, #718DEA);
      span.logo{
        background-color:#556cb9;
        @include lineargradient(#556cb9, #617AD4);
      }
    }
    &:active {
      @include lineargradient(#425596, #425596);
      box-shadow: 0 0 2px 2px #3B4C86 inset;
      span.logo{
       background:transparent;
      }

    }
  }
    
  .facebook-login.sm {
    font-size: 11px;
    height: 24px;
    line-height: 24px;
    width: 142px;
    padding-left: 45px;
    span.logo {
      width: 35px;
      line-height: 36px;
    }
  }



.topNav {
  width:100%;
  height:100px;

  .avatar {
      height:44px;
      width:44px;
      border-radius:35px;
      float:left;
      border:2px solid #fff;
      box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    }
 
  .toggleSideMenu {
    float:left;
    padding:10px;
    cursor:pointer;
    border-bottom-right-radius:3px;

    .unread_messages {
      z-index:100; margin-left:25px; color:white; background:#DB6D00; border-radius:12px; width:24px; height:24px; text-align:center; line-height:24px; position:absolute; margin-top:32px;
    }

    &:hover {
       background:#eee;

       .divider {
          background:#ddd;
       }
       .snail {
         opacity:1;
       }
    }
  }

  .divider {
    height:47px; margin-left:7px; margin-right:8px; width:1px; background:#eee; float:left; 
  }
  .snail {
    width:73px; height:46px; margin-top:2px; float:left; opacity:.7;
    background:url(/assets/snail.png);
    background-size:73px 46px;
  }
  .arrow {
    width:13px; height:8px; float:left; margin-top:21px; opacity:.6; margin-left:1px; margin-right:1px;
    background:url(/assets/arr.png);
    background-size:13px 8px;
  }


  .avatar {
      height:44px;
      width:44px;
      border-radius:35px;
      float:left;
      border:2px solid #fff;
      box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    }

	 .fa {
	   float:left;
	   font-size:40px;
	   line-height:70px;
	   margin-left:10px;
	   margin-right:10px;
	   color:rgba(0,0,0,0.3);
	 }

	.write_letter {
	  float:right;
	  @include roundedCorners(25px);
	  padding:10px;
	  padding-top:7px;
	  font-size:18px;
	  padding-left:20px;
	  padding-right:20px;
	  line-height:25px;
	  cursor:pointer;
	  border:1px solid #a9d8b2;
	  color:#57ad68;
	  margin-top:12px;
	  margin-right:12px;
	  font-variant:small-caps;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	  &:hover {
	    border:1px solid #57ad68
	  }
    &:active {
      background:#f8f8f8;
    }
	}

  .new_letter {
    border:1px solid #aaa;
    color:#999;

    &:hover {
      border:1px solid #57ad68;
      color:#57ad68;
    }
    &:active {
      background:#f8f8f8;
      color:#57ad68;
    }
  }


  .send_letter {
      float:right;
      @include roundedCorners(25px);
      padding:10px;
      padding-top:7px;
      font-size:18px;
      padding-left:20px;
      padding-right:20px;
      line-height:25px;
      border:1px solid #ddd;
      color:#ddd;
      margin-top:12px;
      margin-right:12px;
      font-variant:small-caps;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

  .send_letter_active {
     //background: rgba(21,103,0,.8);
     //border:1px solid rgba(21,103,0,.8);
     //color:#fff;
        border:1px solid #a9d8b2;
      color:#57ad68;
     cursor:pointer;

     &:hover {
         //background: rgba(21,103,0,.7);
         border:1px solid #57ad68
      }
      &:active {
        //background:#004000;
        background:#f8f8f8;
      }
  }

  .save_text {
    font-size:13px; float:left; line-height:72px; text-align:left; margin-left:2px; color:#ccc; font-family:'helvetica'; font-weight:bold;
  }


}





#sidr {


  .footer_links {
  text-align:center;
  margin-top:13px;
  font-variant:small-caps;
    a {
      color:#AFAFAE;
      margin-let:5px;
      margin-right:5px;

      &:hover {
        color:#fff;
      }
    }
  }


	.side-bg {
	height:100%; width:100%; background-image:url(/assets/sidebackground1.jpg); background-repeat:no-repeat;
	}

	.label {
		color:rgba(255,255,255,0.3);
		font-variant:small-caps;
		margin-left:10px;
		padding-top:10px;

	}

	.avatar {
	 	height:44px;
	    width:44px;
	    border-radius:22px;
	    float:left;
	    margin-right:10px;
	    margin-left:10px;
	}



     .random_button {
        margin-left:10px;
        height:44px;
        width:44px;
  
        color:#AFAFAE;
        font-variant:small-caps;
        text-decoration:none;
        text-align:center;
        background:rgba(0,0,0,.2);
        border-radius:30px;
        float:left;
          margin-right:10px;
      margin-left:10px;
     }

    .current_user_avatar {
      width:100px;
      height:100px;
      border:5px solid #333;
      border-radius:60px;
      margin-left:38px;
      margin-right:auto;
      margin-top:50px;
  }


  .multiple_avatars {
      float:left; 

      .a_left {
        background-color:rgba(0,0,0,.2);
        position:absolute; height:44px; width:22px; border-top-left-radius:22px; border-bottom-left-radius:22px;  background-size:44px 44px;  background-repeat:none;  border:1px solid #333;
      }
      .a_right {
        background-color:rgba(0,0,0,.2);
        position:absolute; margin-left:22px;height:44px; width:22px; border-top-right-radius:22px; border-bottom-right-radius:22px; background-size:44px 44px; background-repeat:none;
        border:1px solid #333;
      }
      .a_top_right {
        background-color:rgba(0,0,0,.2);
        position:absolute; margin-left:22px;height:22px; width:22px; border-top-right-radius:22px; background-size:30px 30px; background-repeat:none;
        border:1px solid #333;
      }
      .a_bottom_right {
        background-color:rgba(0,0,0,.2);
        position:absolute; margin-left:22px;height:22px; margin-top:22px; width:22px; border-bottom-right-radius:22px; background-size:30px 30px; background-repeat:none;
        border:1px solid #333;
      }

      .a_top_left {
        background-color:rgba(0,0,0,.2);
        position:absolute; height:22px; width:22px; border-top-left-radius:22px; background-size:30px 30px; background-repeat:none;
        border:1px solid #333;
      }
      .a_bottom_left {
        background-color:rgba(0,0,0,.2);
        position:absolute; height:22px; margin-top:22px; width:22px; border-bottom-left-radius:22px; background-size:30px 30px; background-repeat:none;
        border:1px solid #333;
      }

    }



	.dice {
		width:26px; height:26px; border-radius:0px;  margin-left:10px; margin-top:9px; float:left; opacity:.5;
	}
	.fa-file-text-o {
	  float:left;
	  margin-left:13px;
	  margin-top:11px;
	  font-size:23px;

    &:hover {
      color:white;
    }
	}
	.row {
		height:44px; line-height:44px; width:100%; cursor:pointer; color:#AFAFAE; margin-top:10px;

		.count {
		  float:right;
		  width:22px;
		  height:22px;
		  line-height:22px;
		  font-size:12px;
		  margin-right:15px;
		  border-radius:12px;
		  background:rgba(255,255,255,.3);
		  text-align:center;
		  color:#000;
		  margin-top:10px;
		  font-family:helvetica;
		}

    .info {
      float:left; line-height:42px; margin-top:0px;
      .date {
        font-size:12px; color:rgba(255, 255, 255, 0.3);
      }
    }

    .unread {
      background:#DB6D00;
      color:#FFE5B5;
      font-size:12px;
    }



		&:hover {
		  color:#fff;

      .fa-file-text-o {
        color:#fff;
      }
		}
	}

	a {
	  text-decoration:none;

	}


	.signout {
	  width:125px;
	  margin-left:auto;
	  margin-right:auto;
	  @include roundedCorners(25px);
	  padding:10px;
	  padding-top:7px;
	  font-size:16px;
	  line-height:20px;
	  cursor:pointer;
	  border:1px solid rgba(255,255,255,.4);
	  color:#AFAFAE;
	  margin-top:10px;
	  font-variant:small-caps;
	  text-decoration:none;
	  text-align:center;
	  background:rgba(0,0,0,.5);

	  &:active {
	   font-decoration:none;
	  }
	  &:hover {
	    border:1px solid #ccc;
	    color:#fff;
	  }
	}
}



.splash {
  background:#6D5E56;
}
.background {
	//background:#B69179;
    background-repeat:no-repeat;
    background-position:50% 50%;
    background-position:50% 50% !important;
    opacity:0;
      -webkit-transition: opacity .3s ease-out;
        -moz-transition: opacity .3s ease-out;
        -ms-transition: opacity .3s ease-out;
        -o-transition: opacity .3s ease-out;
        transition: opacity .3s ease-out;

    


}

.splash_content {
      position:absolute;
      color:#fff;
      margin-left:80px;
      padding-top:80px;
      width:600px;
      top: 0px;

      h1 {
        font-family:'fakt_slab_medium', Helvetica;
        margin:0px;
        font-size:56px;
      }
      h2 {
        margin-top:10px;
        font-family:'fakt_slab_light', Helvetica;
        font-size:24px;
        line-height:1.6em;
      }
      .facebook-login {
        position:absolute;
        margin-top:240px;
      }
    }



#letters {
	.author_letter {
	   .to_avatar {
	   		width:100px;
	   		height:100px;
	   		border-radius:50px;
	   		margin-left:auto;
	   		margin-right:auto;
	   		margin-top:80px;
	   }
	}
}

.letterContainer {
  padding-top:50px;
  padding-bottom:25px;
  border-bottom:1px solid #eee;


  &:last-child {
    border-bottom:0px solid #fff;
  }



  .stampHolder {
  	height:67px;
  	 .stamp {
  		float:right; -webkit-transform:rotate(10deg); height:67px; margin-top:30px; opacity:.5; margin-right:20px; cursor:pointer;

  		&:hover {
  			opacity:1;
  		}
  	}
  }

  .date {
  	text-align:right; margin-top:40px; margin-right:10px;
  }


  h1 {
    font-size:50px;
    line-height:1.1em;
    letter-spacing:-0.04em;
    font-family:'fakt_slab_medium', Helvetica, sans-serif;
  }


  h2,h5 {
    font-size:32px;
    line-height:1.2em;
    font-family:'fakt_slab_medium', Helvetica, sans-serif;
    color:inherit;
    margin-bottom:-20px;
    margin-top:50px;
    letter-spacing:-0.02em;
    color:#333;
  }

  h2.subtitle {
    color:#666;
    font-size:30px;
    font-family:'fakt_slab_light', Helvetica, sans-serif;
    line-height:1.1em;
    margin-top:3px;
    margin-bottom:10px;
    letter-spacing:-0.02em;
  }

  li {
    margin-left:-12px;
  }

  .circleAvatar {
    width:32px;
    height:32px;
    border:0px;
  }

  .author_name {
    float:left; color:#AAA; margin-left:6px; margin-top:8px;
    font-weight:100;
    font-family:'fakt_slab_light', Helvetica, sans-serif;
    a {
      color:#AAA;
    }
  }

  .letter_content {
    margin-bottom:50px;
    width:700px; 
    margin-left:auto; 
    margin-right:auto;
    font-size:22px; 
    line-height:1.5em;
    //font-weight:400;
    font-family:'freight-text-pro', Helvetica, sans-serif;
    color:#222;
    //-webkit-font-smoothing: none;
    //letter-spacing:.005rem;


    .fa {
      color:#aaa;
      cursor:pointer;
      text-decoration:none;
      font-weight:100;

      &:hover {
        color:#000;
      }
    }


    .progress_text {
      text-align:right; margin-top:-20px; line-height:20px; margin-bottom:-10px;  text-transform:uppercase; margin-right:10px; font-weight:bold; font-family:'fakt_slab_light', Helvetica, sans-serif; color:#aaa; font-size:11px
    }
    .progress_label {
      color:orange;font-size:14px;
    }


    p {
      line-height:1.5em;
      margin-top:30px;
      margin-bottom:0px;
    }
    //strong {
    //  font-family:'fakt_slab_medium', Helvetica, sans-serif;
    //  line-height:1em;
   // }

    a {
      font-weight:600;
      color:#3F79BE;

      &:hover {
        //text-decoration:underline;
        color:#4587D4;

      }
    }

    li {
      margin-top:20px;
    }

    .to_button {
      padding:3px;  margin-left:-3px; background:#f8f8f8; border:1px solid #eee; display: inline-block; cursor:pointer; border-radius:3px;

      &:hover {
        border:1px solid #ccc;
      }
    }

  }
}


.fullscreen,
.content-a {
    width:100%;
    min-height:100%;
}




#random {

	.random {
		display:none;
		opacity:0;
	}

  .roll_dice {
    -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    margin-left:auto;
    margin-right:auto;
    @include roundedCorners(25px);
    padding:10px;
    padding-top:7px;
    font-size:18px;
    padding-left:20px;
    padding-right:20px;
    line-height:25px;
    cursor:pointer;
    border:1px solid #a9d8b2;
    color:#57ad68;
    margin-top:25px;
    font-variant:small-caps;
    text-align:center;
    width:140px;

    img {
    width:25px; float:left; height:25px; margin-top:1px; margin-left:0px; margin-right:7px;
    }
    &:hover {
      border:1px solid #57ad68
    }
    &:active {
      background:#f8f8f8;
    }
  }

}


.heart {
    position: relative;
    width: 50px;
    height: 45px;
    opacity:.7;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    cursor:pointer;

    &:hover {
      opacity:1;
    }
}
.heart:before,
.heart:after {
    position: absolute;
    content: "";
    left: 25px;
    top: 0;
    width: 25px;
    height: 40px;
    background: #aaa;
    -moz-border-radius: 25px 25px 0 0;
    border-radius: 25px 25px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
.heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}



.heart_active {
    position: relative;
    width: 50px;
    height: 45px;
    opacity:.7;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    cursor:pointer;
    display:none;

    &:hover {
      opacity:1;
    }
}
.heart_active:before,
.heart_active:after {
    position: absolute;
    content: "";
    left: 25px;
    top: 0;
    width: 25px;
    height: 40px;
    background: #D90000;
    -moz-border-radius: 25px 25px 0 0;
    border-radius: 25px 25px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
.heart_active:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}









.delivery_box {
  width:220px;
  height:190px;
  padding:10px;
  border:1px solid #EEEEEE;
  border-radius:3px;
  float:left;
  margin:7px;
  cursor:pointer;
  text-align:center;
  color:#ddd;
  line-height:24px;

  img {
    opacity:.3;
    margin-bottom:3px;
  }

  &:hover {
    border:1px solid #ddd;
    img {
     //opacity:.5;
   }
  }
}

.privacy_box {
  width:220px;
  padding:10px;
  border:1px solid #EEEEEE;
  border-radius:3px;
  float:left;
  margin:7px;
  cursor:pointer;
  text-align:center;
    line-height:18px;
      color:#ddd;

  &:hover {
    border:1px solid #ddd;
  }
}

.box_active {
  background:#F8F8F8;
  border:1px solid #ddd;
  cursor:default;
  color:#444;

  img {
    opacity:1;
  }
   &:hover {
    border:1px solid #ddd;
    img {
     opacity:1;
   }
  }
}
.mail_label {
  float:left; font-variant:small-caps; color:#999; font-weight:bold; font-size:22px; margin-top:10px; width:150px; margin-right:10px; text-align:right
}
.confirm_send {
    float:left;
    margin-left:166px;
    width:120px;
    text-align:center;
    @include roundedCorners(25px);
    padding:10px;
    padding-top:7px;
    font-size:18px;
    padding-left:20px;
    padding-right:20px;
    line-height:30px;
    cursor:pointer;
    border:1px solid #a9d8b2;
    color:#57ad68;
    margin-top:7px;
    margin-right:10px;
    font-variant:small-caps;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:hover {
      border:1px solid #57ad68
    }
    &:active {
      background:#f8f8f8;
    }
}
.cancel {
    float:left;
    width:120px;
    text-align:center;
    @include roundedCorners(25px);
    padding:10px;
    padding-top:7px;
    font-size:18px;
    padding-left:20px;
    padding-right:20px;
    line-height:30px;
    cursor:pointer;
    border:1px solid #aaa;
    color:#aaa;
    margin-top:7px;
    margin-right:10px;
    font-variant:small-caps;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:hover {
      border:1px solid #333
    }
    &:active {
      background:#f8f8f8;
    }
}

.my_letter {
  background:#fcfcfc;
}

.drafts {
      a {
        text-decoration:none;
      }
  .avatar {
      height:44px;
      width:44px;
      border-radius:35px;
      float:left;
      border:2px solid #fff;
      box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    }

   .draft_row {
      padding:10px; border-bottom:1px solid #f8f8f8; margin-top:10px; margin-bottom:10px; cursor:pointer;

      &:hover {
        background:#eee;
      }

   } 
  }
