<div class="fullscreen background" data-img-width="2000" data-img-height="1223"></div>
<div class="splash_content">
    <a href="/auth/facebook" style="color:#fff"  class="facebook-login" style="margin-top:2px" data-height="400" data-width="600">
        <span class="logo">
            <i class="fa fa-facebook"></i>
	    </span>
	     Login with Facebook
	</a>
	<h1>Write letters like great-great grandpa</h1>
	<h2>Slow it down; send email at 19th century speed. For friends to talk about the stuff that matters.</h2>
</div>
<img id="placeholder" src="/assets/splash_small.jpg"  style="display:none">