<div id="random">

	<div class="roll_dice"><img src="/assets/dice_green.png">read another</div>

	<div class="letterContainer">


		<div class="letter_content">


			<div id="random1" class="random">
				<div class="date">Washington D.C.<br>April 4, 1864</div>

				<p>My dear Sir:</p>

				<p>You ask me to put in writing the substance of what I verbally said the other day, in your presence, to Governor Bramlette and Senator Dixon. It was about as follows:</p>

				<p>I am naturally anti-slavery. If slavery is not wrong, nothing is wrong. I can not remember when I did not so think, and feel. And yet I have never understood that the Presidency conferred upon me an unrestricted right to act officially upon this judgment and feeling. It was in the oath I took that I would, to the best of my ability, preserve, protect, and defend the Constitution of the United States. I could not take the office without taking the oath. Nor was it my view that I might take an oath to get power, and break the oath in using the power.</p>

				<p>I understood, too, that in ordinary civil administration this oath even forbade me to practically indulge my primary abstract judgment on the moral question of slavery. I had publicly declared this many times, and in many ways. And I aver that, to this day, I have done no official act in mere deference to my abstract judgment and feeling on slavery. I did understand however, that my oath to preserve the constitution to the best of my ability, imposed upon me the duty of preserving, by every indispensable means, that government -- that nation -- of which that constitution was the organic law.</p>

				<p>Was it possible to lose the nation, and yet preserve the constitution? By general law life and limb must be protected; yet often a limb must be amputated to save a life; but a life is never wisely given to save a limb. I felt that measures, otherwise unconstitutional, might become lawful, by becoming indispensable to the preservation of the constitution, through the preservation of the nation. Right or wrong, I assumed this ground, and now avow it. I could not feel that, to the best of my ability, I had even tried to preserve the constitution, if, to save slavery, or any minor matter, I should permit the wreck of government, country, and Constitution all together. When, early in the war, Gen. Fremont attempted military emancipation, I forbade it, because I did not then think it an indispensable necessity. When a little later, Gen. Cameron, then Secretary of War, suggested the arming of the blacks, I objected, because I did not yet think it an indispensable necessity. When, still later, Gen. Hunter attempted military emancipation, I again forbade it, because I did not yet think the indispensable necessity had come. When, in March, and May, and July 1862 I made earnest, and successive appeals to the border states to favor compensated emancipation, I believed the indispensable necessity for military emancipation, and arming the blacks would come, unless averted by that measure. They declined the proposition; and I was, in my best judgment, driven to the alternative of either surrendering the Union, and with it, the Constitution, or of laying strong hand upon the colored element. I chose the latter. In choosing it, I hoped for greater gain than loss; but of this, I was not entirely confident. More than a year of trial now shows no loss by it in our foreign relations, none in our home popular sentiment, none in our white military force, -- no loss by it any how or any where. On the contrary, it shows a gain of quite a hundred and thirty thousand soldiers, seamen, and laborers. These are palpable facts, about which, as facts, there can be no cavilling. We have the men; and we could not have had them without the measure.</p>

				<p>And now let any Union man who complains of the measure, test himself by writing down in one line that he is for subduing the rebellion by force of arms; and in the next, that he is for taking these hundred and thirty thousand men from the Union side, and placing them where they would be but for the measure he condemns. If he can not face his case so stated, it is only because he can not face the truth.</p>

				<p>I add a word which was not in the verbal conversation. In telling this tale I attempt no compliment to my own sagacity. I claim not to have controlled events, but confess plainly that events have controlled me. Now, at the end of three years struggle the nation's condition is not what either party, or any man devised, or expected. God alone can claim it. Whither it is tending seems plain. If God now wills the removal of a great wrong, and wills also that we of the North as well as you of the South, shall pay fairly for our complicity in that wrong, impartial history will find therein new cause to attest and revere the justice and goodness of God.</p>

				<p>Yours truly,</p>

				<p>A. Lincoln</p>
			</div>

			<div id="random2" class="random">
				<div class="date">Andong City<br>June 1, 1586</div>

				<p>To Won's Father,</p>

				<p>You always said, "Dear, let's live together until our hair turns gray and die on the same day." How could you pass away without me? Who should I and our little boy listen to and how should we live? How could you go ahead of me?</p>

				<p>How did you bring your heart to me and how did I bring my heart to you? Whenever we lay down together you always told me, "Dear, do other people cherish and love each other like we do? Are they really like us?" How could you leave all that behind and go ahead of me?</p>

				<p>I just cannot live without you. I just want to go to you. Please take me to where you are. My feelings toward you I cannot forget in this world and my sorrow knows no limit. Where would I put my heart in now and how can I live with the child missing you?</p>

				<p>Please look at this letter and tell me in detail in my dreams. Because I want to listen to your saying in detail in my dreams I write this letter and put it in. Look closely and talk to me.</p>

				<p>When I give birth to the child in me, who should it call father? Can anyone fathom how I feel? There is no tragedy like this under the sky.</p>

				<p>You are just in another place, and not in such a deep grief as I am. There is no limit and end to my sorrows that I write roughly. Please look closely at this letter and come to me in my dreams and show yourself in detail and tell me. I believe I can see you in my dreams. Come to me secretly and show yourself. There is no limit to what I want to say and I stop here.</p>

				<p>The Widow of Eung-Tae Lee</p>
			</div>


			<div id="random3" class="random">
				<div class="date">Le Havre<br>May 29, 1945</div>

				<p>Dear people:</p>

				<p>I'm told that you were probably never informed that I was anything other than "missing in action." Chances are that you also failed to receive any of the letters I wrote from Germany. That leaves me a lot of explaining to do -- in precis: </p>

				<p>I've been a prisoner of war since December 19th, 1944, when our division was cut to ribbons by Hitler's last desperate thrust through Luxemburg and Belgium. Seven Fanatical Panzer Divisions hit us and cut us off from the rest of Hodges' First Army. The other American Divisions on our flanks managed to pull out: We were obliged to stay and fight. Bayonets aren't much good against tanks: Our ammunition, food and medical supplies gave out and our casualties out-numbered those who could still fight - so we gave up. The 106th got a Presidential Citation and some British Decoration from Montgomery for it, I'm told, but I'll be damned if it was worth it. I was one of the few who weren't wounded. For that much thank God. </p>

				<p>Well, the supermen marched us, without food, water or sleep to Limberg, a distance of about sixty miles, I think, where we were loaded and locked up, sixty men to each small, unventilated, unheated box car. There were no sanitary accommodations -- the floors were covered with fresh cow dung. There wasn't room for all of us to lie down. Half slept while the other half stood. We spent several days, including Christmas, on that Limberg siding. On Christmas eve the Royal Air Force bombed and strafed our unmarked train. They killed about one-hundred-and-fifty of us. We got a little water Christmas Day and moved slowly across Germany to a large P.O.W. Camp in Muhlburg, South of Berlin. We were released from the box cars on New Year's Day. The Germans herded us through scalding delousing showers. Many men died from shock in the showers after ten days of starvation, thirst and exposure. But I didn't.</p>

				<p>Under the Geneva Convention, Officers and Non-commissioned Officers are not obliged to work when taken prisoner. I am, as you know, a Private. One-hundred-and-fifty such minor beings were shipped to a Dresden work camp on January 10th. I was their leader by virtue of the little German I spoke. It was our misfortune to have sadistic and fanatical guards. We were refused medical attention and clothing: We were given long hours at extremely hard labor. Our food ration was two-hundred-and-fifty grams of black bread and one pint of unseasoned potato soup each day. After desperately trying to improve our situation for two months and having been met with bland smiles I told the guards just what I was going to do to them when the Russians came. They beat me up a little. I was fired as group leader. Beatings were very small time: -- one boy starved to death and the SS Troops shot two for stealing food. </p>

				<p>On about February 14th the Americans came over, followed by the R.A.F. their combined labors killed 250,000 people in twenty-four hours and destroyed all of Dresden -- possibly the world's most beautiful city. But not me. </p>

				<p>After that we were put to work carrying corpses from Air-Raid shelters; women, children, old men; dead from concussion, fire or suffocation. Civilians cursed us and threw rocks as we carried bodies to huge funeral pyres in the city. </p>

				<p>When General Patton took Leipzig we were evacuated on foot to ('the Saxony-Czechoslovakian border'?). There we remained until the war ended. Our guards deserted us. On that happy day the Russians were intent on mopping up isolated outlaw resistance in our sector. Their planes (P-39's) strafed and bombed us, killing fourteen, but not me. </p>

				<p>Eight of us stole a team and wagon. We traveled and looted our way through Sudetenland and Saxony for eight days, living like kings. The Russians are crazy about Americans. The Russians picked us up in Dresden. We rode from there to the American lines at Halle in Lend-Lease Ford trucks. We've since been flown to Le Havre. </p>

				<p>I'm writing from a Red Cross Club in the Le Havre P.O.W. Repatriation Camp. I'm being wonderfully well feed and entertained. The state-bound ships are jammed, naturally, so I'll have to be patient. I hope to be home in a month. Once home I'll be given twenty-one days recuperation at Atterbury, about $600 back pay and -- get this -- sixty (60) days furlough. </p>

				<p>I've too damned much to say, the rest will have to wait, I can't receive mail here so don't write.</p> 

				<p>Love,</p> 

				<p>Kurt Vonnegut Jr.</p>
			</div>


		
			<div id="random4" class="random">
				<div class="date">New York<br>November 10, 1958</div>	

					<p>Dear Thom:</p>

					<p>We had your letter this morning. I will answer it from my point of view and of course Elaine will from hers.</p>

					<p>First—if you are in love—that’s a good thing—that’s about the best thing that can happen to anyone. Don’t let anyone make it small or light to you.</p>

					<p>Second—There are several kinds of love. One is a selfish, mean, grasping, egotistical thing which uses love for self-importance. This is the ugly and crippling kind. The other is an outpouring of everything good in you—of kindness and consideration and respect—not only the social respect of manners but the greater respect which is recognition of another person as unique and valuable. The first kind can make you sick and small and weak but the second can release in you strength, and courage and goodness and even wisdom you didn’t know you had.</p>

					<p>You say this is not puppy love. If you feel so deeply—of course it isn’t puppy love.</p>

					<p>But I don’t think you were asking me what you feel. You know better than anyone. What you wanted me to help you with is what to do about it—and that I can tell you.</p>

					<p>Glory in it for one thing and be very glad and grateful for it.</p>

					<p>The object of love is the best and most beautiful. Try to live up to it.</p>

					<p>If you love someone—there is no possible harm in saying so—only you must remember that some people are very shy and sometimes the saying must take that shyness into consideration.</p>

					<p>Girls have a way of knowing or feeling what you feel, but they usually like to hear it also.</p>

					<p>It sometimes happens that what you feel is not returned for one reason or another—but that does not make your feeling less valuable and good.</p>

					<p>Lastly, I know your feeling because I have it and I’m glad you have it.</p>

					<p>We will be glad to meet Susan. She will be very welcome. But Elaine will make all such arrangements because that is her province and she will be very glad to. She knows about love too and maybe she can give you more help than I can.</p>

					<p>And don’t worry about losing. If it is right, it happens—The main thing is not to hurry. Nothing good gets away.</p>

					<p>Love,</p>

					<p>Fa</p>

					<p>John Steinbeck</p>

				</div>

				<div id="random5" class="random">

					<div class="date">New York<br>November 5, 2006</div>	


					<p>Dear Xavier High School, and Ms. Lockwood, and Messrs Perin, McFeely, Batten, Maurer and Congiusta:</p>

					<p>I thank you for your friendly letters. You sure know how to cheer up a really old geezer (84) in his sunset years. I don't make public appearances any more because I now resemble nothing so much as an iguana. </p>

					<p>What I had to say to you, moreover, would not take long, to wit: Practice any art, music, singing, dancing, acting, drawing, painting, sculpting, poetry, fiction, essays, reportage, no matter how well or badly, not to get money and fame, but to experience becoming, to find out what's inside you, to make your soul grow.</p>

					<p>Seriously! I mean starting right now, do art and do it for the rest of your lives. Draw a funny or nice picture of Ms. Lockwood, and give it to her. Dance home after school, and sing in the shower and on and on. Make a face in your mashed potatoes. Pretend you're Count Dracula.</p>

					<p>Here's an assignment for tonight, and I hope Ms. Lockwood will flunk you if you don't do it: Write a six line poem, about anything, but rhymed. No fair tennis without a net. Make it as good as you possibly can. But don't tell anybody what you're doing. Don't show it or recite it to anybody, not even your girlfriend or parents or whatever, or Ms. Lockwood. OK?</p>

					<p>Tear it up into teeny-weeny pieces, and discard them into widely separated trash recepticals. You will find that you have already been gloriously rewarded for your poem. You have experienced becoming, learned a lot more about what's inside you, and you have made your soul grow.</p>

					<p>God bless you all!</p>

					<p>Kurt Vonnegut</p>

				</div>


				<div id="random6" class="random">

					<div class="date">Milan<br>January 21, 1926</div>	

					<p>Dear V,</p>

					<p>I am reduced to a thing that wants Virginia. I composed a beautiful letter to you in the sleepless nightmare hours of the night, and it has all gone: I just miss you, in a quite simple desperate human way. You, with all your un-dumb letters, would never write so elementary a phrase as that; perhaps you wouldn't even feel it. And yet I believe you'll be sensible of a little gap. But you'd clothe it in so exquisite a phrase that it would lose a little of its reality. Whereas with me it is quite stark: I miss you even more than I could have believed; and I was prepared to miss you a good deal. So this letter is just really a squeal of pain. It is incredible how essential to me you have become. I suppose you are accustomed to people saying these things. Damn you, spoilt creature; I shan't make you love me any the more by giving myself away like this—But oh my dear, I can't be clever and stand-offish with you: I love you too much for that. Too truly. You have no idea how stand-offish I can be with people I don't love. I have brought it to a fine art. But you have broken down my defences. And I don't really resent it.</p>

					<p>However I won't bore you with any more.</p>

					<p>We have re-started, and the train is shaky again. I shall have to write at the stations - which are fortunately many across the Lombard plain.</p>

					<p>Venice. The stations were many, but I didn't bargain for the Orient Express not stopping at them. And here we are at Venice for ten minutes only,—a wretched time in which to try and write. No time to buy an Italian stamp even, so this will have to go from Trieste.</p>

					<p>The waterfalls in Switzerland were frozen into solid iridescent curtains of ice, hanging over the rock; so lovely. And Italy all blanketed in snow.</p>

					<p>We're going to start again. I shall have to wait till Trieste tomorrow morning. Please forgive me for writing such a miserable letter.</p>

					<p>V.</p>
					<p>Vita Sackville-West</p>

			</div>
		
			<div id="random7" class="random">
					<div class="date">Antartica<br>March 10, 1912</div>	

					<p>My dear Sir Francis,</p>

					<p>I fear we have shipped up – a close shave. I am writing a few letters  which I hope will be delivered some day.</p>

					<p>I want to thank you for the friendship you gave me of late years, and to tell you how extraordinarily pleasant I found it to serve under you.</p>

					<p>I want to tell you that I was not too old for this job. It was the younger men that went under first.</p>

					<p>Finally I want you to secure a competence for my widow and boy.</p>

					<p>I leave them very ill-provided for but feel that the country ought not to neglect them.</p>

					<p>After all we are setting a good example to our countrymen, if not by getting into a tight place, by facing it like men when we were there.</p>

					<p>We could have come through had we neglected the sick.</p>

					<p>Good-bye and good-bye to dear Lady Bridgeman.</p>

					<p>Yours ever, Robert Scott</p>

					<p>Excuse writing, it is -40 and has been for nigh a month.</p>
			</div>


			<div id="random8" class="random">
					<div class="date">Rome<br>April 7, 69AD</div>	

				<p>Seneca Lucilio suo salutem</p>

				<p>Ita fac, mi Lucili: vindica te tibi, et tempus quod adhuc aut auferebatur aut subripiebatur aut excidebat collige et serva. Persuade tibi hoc sic esse ut scribo: quaedam tempora eripiuntur nobis, quaedam subducuntur, quaedam effluunt. Turpissima tamen est iactura quae per neglegentiam fit. Et si volueris attendere, magna pars vitae elabitur male agentibus, maxima nihil agentibus, tota vita aliud agentibus. Quem mihi dabis qui aliquod pretium tempori ponat, qui diem aestimet, qui intellegat se cotidie mori? In hoc enim fallimur, quod mortem prospicimus: magna pars eius iam praeterit; quidquid aetatis retro est mors tenet.</p>

				<p>Fac ergo, mi Lucili, quod facere te scribis, omnes horas complectere; sic fiet ut minus ex crastino pendeas, si hodierno manum inieceris. Dum differtur vita transcurrit. Omnia, Lucili, aliena sunt, tempus tantum nostrum est; in huius rei unius fugacis ac lubricae possessionem natura nos misit, ex qua expellit quicumque vult. Et tanta stultitia mortalium est ut quae minima et vilissima sunt, certe reparabilia, imputari sibi cum impetravere patiantur, nemo se iudicet quicquam debere qui tempus accepit, cum interim hoc unum est quod ne gratus quidem potest reddere. Interrogabis fortasse quid ego faciam qui tibi ista praecipio. Fatebor ingenue: quod apud luxuriosum sed diligentem evenit, ratio mihi constat impensae. Non possum dicere nihil perdere, sed quid perdam et quare et quemadmodum dicam; causas paupertatis meae reddam. Sed evenit mihi quod plerisque non suo vitio ad inopiam redactis: omnes ignoscunt, nemo succurrit. Quid ergo est? non puto pauperem cui quantulumcumque superest sat est; tu tamen malo serves tua, et bono tempore incipies. Nam ut visum est maioribus nostris, 'sera parsimonia in fundo est'; non enim tantum minimum in imo sed pessimum remanet. Vale.</p>

				<p>Lucius Annaeus Seneca</p>
		</div>


		<div id="random9" class="random">
			<div class="date">New York City<br>February 2, 1924</div>	


			<p>Dear Friends:</p>

			<p>I have the joy of being able to tell you that, though deaf and blind, I spent a glorious hour last night listening over the radio to Beethoven's "Ninth Symphony." I do not mean to say that I "heard" the music in the sense that other people heard it; and I do not know whether I can make you understand how it was possible for me to derive pleasure from the symphony. It was a great surprise to myself. I had been reading in my magazine for the blind of the happiness that the radio was bringing to the sightless everywhere. I was delighted to know that the blind had gained a new source of enjoyment; but I did not dream that I could have any part in their joy. Last night, when the family was listening to your wonderful rendering of the immortal symphony someone suggested that I put my hand on the receiver and see if I could get any of the vibrations. He unscrewed the cap, and I lightly touched the sensitive diaphragm. What was my amazement to discover that I could feel, not only the vibrations, but also the impassioned rhythm, the throb and the urge of the music! The intertwined and intermingling vibrations from different instruments enchanted me. I could actually distinguish the cornets, the roll of the drums, deep-toned violas and violins singing in exquisite unison. How the lovely speech of the violins flowed and plowed over the deepest tones of the other instruments! When the human voice leaped up trilling from the surge of harmony, I recognized them instantly as voices. I felt the chorus grow more exultant, more ecstatic, upcurving swift and flame-like, until my heart almost stood still. The women's voices seemed an embodiment of all the angelic voices rushing in a harmonious flood of beautiful and inspiring sound. The great chorus throbbed against my fingers with poignant pause and flow. Then all the instruments and voices together burst forth—an ocean of heavenly vibration—and died away like winds when the atom is spent, ending in a delicate shower of sweet notes.</p>

			<p>Of course, this was not "hearing" but I do know that the tones and harmonies conveyed to me moods of great beauty and majesty. I also sensed, or thought I did, the tender sounds of nature that sing into my hand—swaying reeds and winds and the murmur of streams. I have never been so enraptured before by a multitude of tone-vibrations.</p>

			<p>As I listened, with darkness and melody, shadow and sound filling all the room, I could not help remembering that the great composer who poured forth such a flood of sweetness into the world was deaf like myself. I marvelled at the power of his quenchless spirit by which out of his pain he wrought such joy for others—and there I sat, feeling with my hand the magnificent symphony which broke like a sea upon the silent shores of his soul and mine.</p>

			<p>Let me thank you warmly for all the delight which your beautiful music has brought to my household and to me. I want also to thank Station WEAF for the joy they are broadcasting in the world.</p>

			<p>With kindest regards and best wishes, I am,</p>

			<p>Sincerely yours, </p>

			<p>HELEN KELLER</p>
		</div>

		<div id="random10" class="random">
			<div class="date">New York<br>31st August, 1966</div>

			<p>Dear Roger,</p>

			<p>Does I. B. M. know that one of the main themes of the story is a psychotic computer? I don't want to get anyone in trouble, and I don't want them to feel they have been swindled. Please give me the exact status of things with I. B. M.</p>

			<p>Best regards, </p>

			<p>Stanley Kubrik</p>

		</div>


		<div id="random11" class="random">

			<div class="date">Dayton<br>August 7, 1865</div>

			<p>To My Old Master, Colonel P.H. Anderson, Big Spring, Tennessee</p>

			<p>Sir: I got your letter, and was glad to find that you had not forgotten Jourdon, and that you wanted me to come back and live with you again, promising to do better for me than anybody else can. I have often felt uneasy about you. I thought the Yankees would have hung you long before this, for harboring Rebs they found at your house. I suppose they never heard about your going to Colonel Martin's to kill the Union soldier that was left by his company in their stable. Although you shot at me twice before I left you, I did not want to hear of your being hurt, and am glad you are still living. It would do me good to go back to the dear old home again, and see Miss Mary and Miss Martha and Allen, Esther, Green, and Lee. Give my love to them all, and tell them I hope we will meet in the better world, if not in this. I would have gone back to see you all when I was working in the Nashville Hospital, but one of the neighbors told me that Henry intended to shoot me if he ever got a chance.</p>

			<p>I want to know particularly what the good chance is you propose to give me. I am doing tolerably well here. I get twenty-five dollars a month, with victuals and clothing; have a comfortable home for Mandy,—the folks call her Mrs. Anderson,—and the children—Milly, Jane, and Grundy—go to school and are learning well. The teacher says Grundy has a head for a preacher. They go to Sunday school, and Mandy and me attend church regularly. We are kindly treated. Sometimes we overhear others saying, "Them colored people were slaves" down in Tennessee. The children feel hurt when they hear such remarks; but I tell them it was no disgrace in Tennessee to belong to Colonel Anderson. Many darkeys would have been proud, as I used to be, to call you master. Now if you will write and say what wages you will give me, I will be better able to decide whether it would be to my advantage to move back again.</p>

			<p>As to my freedom, which you say I can have, there is nothing to be gained on that score, as I got my free papers in 1864 from the Provost-Marshal-General of the Department of Nashville. Mandy says she would be afraid to go back without some proof that you were disposed to treat us justly and kindly; and we have concluded to test your sincerity by asking you to send us our wages for the time we served you. This will make us forget and forgive old scores, and rely on your justice and friendship in the future. I served you faithfully for thirty-two years, and Mandy twenty years. At twenty-five dollars a month for me, and two dollars a week for Mandy, our earnings would amount to eleven thousand six hundred and eighty dollars. Add to this the interest for the time our wages have been kept back, and deduct what you paid for our clothing, and three doctor's visits to me, and pulling a tooth for Mandy, and the balance will show what we are in justice entitled to. Please send the money by Adams's Express, in care of V. Winters, Esq., Dayton, Ohio. If you fail to pay us for faithful labors in the past, we can have little faith in your promises in the future. We trust the good Maker has opened your eyes to the wrongs which you and your fathers have done to me and my fathers, in making us toil for you for generations without recompense. Here I draw my wages every Saturday night; but in Tennessee there was never any pay-day for the negroes any more than for the horses and cows. Surely there will be a day of reckoning for those who defraud the laborer of his hire.</p>

			<p>In answering this letter, please state if there would be any safety for my Milly and Jane, who are now grown up, and both good-looking girls. You know how it was with poor Matilda and Catherine. I would rather stay here and starve—and die, if it come to that—than have my girls brought to shame by the violence and wickedness of their young masters. You will also please state if there has been any schools opened for the colored children in your neighborhood. The great desire of my life now is to give my children an education, and have them form virtuous habits.</p>

			<p>Say howdy to George Carter, and thank him for taking the pistol from you when you were shooting at me.</p>

			<p>From your old servant,</p>

			<p>Jourdon Anderson</p>



		</div>




	</div>


	<div class="heart"></div>
	<div class="heart_active"></div>

	<div class="roll_dice"><img src="/assets/dice_green.png">read another</div>

</div>




<script>
//prototype code to strip out after model hooked up

  max_letter = 11;
  random = Math.floor(Math.random() * max_letter) + 1


  $(document).ready(function() {
  	toggleLetters()
  });

  function toggleLetters() {
	$("#random"+random).show().animate({
      opacity: 1,
    }, 100, function() {});

	switch(random) {
    case 1:
        $(".randomAvatar").attr("src","/assets/temp_abe.png");
        break;
    case 2:
        $(".randomAvatar").attr("src","/assets/temp_korea.png");
        break;
    case 3:
        $(".randomAvatar").attr("src","/assets/temp_kurt.png");
        break;
    case 4:
        $(".randomAvatar").attr("src","/assets/temp_steinbeck.png");
        break;
    case 5:
        $(".randomAvatar").attr("src","/assets/temp_kurt.png");
        break;
    case 6:
        $(".randomAvatar").attr("src","/assets/temp_vita.png");
        break;
	case 7:
        $(".randomAvatar").attr("src","/assets/temp_scott.png");
        break;
	case 8:
        $(".randomAvatar").attr("src","/assets/temp_seneca.png");
        break;
	case 9:
        $(".randomAvatar").attr("src","/assets/temp_keller.jpg");
        break;
	case 10:
        $(".randomAvatar").attr("src","/assets/temp_kubrik.png");
        break;
	case 11:
        $(".randomAvatar").attr("src","/assets/temp_slave.png");
        break;
    default:
        break;
	}
  }


  $(".roll_dice").click(function(){

  	$("html, body").animate({ scrollTop: 0 }, 100);

  	$(".heart_active").hide();
  	$(".heart").show()

  	$("#random"+random).animate({
      opacity: 0,
    }, 100, function() { $(this).hide(); toggleLetters() });
    random = random + 1;
    if (random > max_letter) {
  	  random = 1
    }
    
   });


  $(".heart").click(function(){
  	$(this).hide();
  	$(".heart_active").show()
   });


  $(".heart_active").click(function(){
  	$(this).hide();
  	$(".heart").show()
   });


</script>
